body {
    margin: 0px;
    padding: 0px;
    font-family: system-ui;
}

#divSuprem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    background-color: cadetblue;
}

h1 {
    padding-left: 5%;
    padding-top: 0.5vh;
}


.traitH {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
}

.traitV {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.traitVertical {
    height: 85%;
    text-align: center;
    border-left: 2.5px solid rgb(65, 65, 65);
}


.traitHoriz {
    width: 75%;
    margin-top: 1.5%;
    text-align: center;
    border-top: 2.5px solid rgb(65, 65, 65);
}

#sousPresentation2 h2 {
    color: rgb(80, 80, 80);
    padding-left: 5%;
}

p{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    padding-left: 3%;
    padding-right: 2.5%;
    padding-bottom: 0.5em;
    font-size: 17px;
    list-style-type: none;
}

#entete {
    display: flex;
    flex-direction: row;
    height: 10%;
    width: 100%;
    justify-content: space-between;
    background-color: #06305f;
    border-bottom:  2px solid rgb(110, 110, 110);
    color: rgb(255, 255, 255);
}

#entetePart1, #entetePart2 {
    display: flex;
    align-items: center;
    flex-direction: row;
}

#entetePart1 {
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

#entetePart2 h2 {
    padding-left: 5%;
}

#contactButton, #RetExpButton {
    font-size: medium;
    border-left: 3px solid rgb(188, 188, 188);
    padding-right: 6vh;
    justify-self:flex-end;
    align-self: end;
    color: rgb(240, 240, 240);
    transition: all 0.5s;
}

#contactButton:hover, #RetExpButton:hover {
    color:rgb(161, 159, 159);
    border-left: 3px solid rgb(240, 240, 240);
    transition: all 0.5s;
}

#presentation {
    display: flex;
    height: 71.5%;
    width: 100%;
    background-color: aquamarine;
}

#sousPresentation1,
#sousPresentation2,
#sousPresentation3 {
    flex: 1;
    background-color: rgb(255, 255, 255);
}

#sousPresentation1 {
    border-right: 1px solid rgb(110, 110, 110);
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
}

#sousPresentation1 p { 
    z-index: 0;
    padding-top: 61.5vh;
    color: #4c70a7;
    font-size: 3em;
    text-shadow: rgb(255, 255, 255) 1px 1px;
}

#textOnImg {
    display: flex;
    justify-content: center;
}

#sousPresentation2 {
    color: rgb(104, 104, 104);
    border-left: 1px solid rgb(110, 110, 110);
}

#sousPresentation2 p {
    margin-left: 2em;
    margin-bottom: 1.5em;
    margin-right: 2em;
    text-align: justify;
    font-size: 17px;
}

#sousPresentation2 h2 {
    font-size: 30px;
    margin-right: 1em;
}

#imgPresentation {
    height: 100%;
    width: 100%;
    position: absolute;
}

#sousPresentation3 {
    color: rgb(110, 110, 110);
}

#bandeauRetExp {
    display: flex;
    height: 3.5%;
    background-color: rgb(110, 110, 110);
    align-items: center;
    justify-content: center;
    
}

#conteneurTextBandeauRetExp {
    display: flex;
    align-items: center;
    justify-content: center;
}

#textBandeauRetExp {
    color: white;
    text-align: center;
}

#menuDivMinSize {
    display: none;
    height: 0%;
}

#menuDivLargeSize {
    display: flex;
    height: 7%;
    width: 100%;
    align-items: center;
    border-top: 2px solid rgb(110, 110, 110);
    background-color: white;
}

#sousMenuResponsiveLargeSize {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#menu2LargeSize,
#menu3LargeSize,
#menu4LargeSize,
#menu5LargeSize,
#menu6LargeSize {
    flex: 1;
    height: 50%;
    border-left: 2px solid rgb(166, 166, 166);
    transition: all 0.5s;
}

#menu1LargeSize {
    flex: 1;
    height: 50%;
    transition: all 0.5s;
}

#menu1LargeSize:hover,
#menu2LargeSize:hover,
#menu3LargeSize:hover,
#menu4LargeSize:hover,
#menu5LargeSize:hover,
#menu6LargeSize:hover {
    height: 100%;
    transition: all 0.5s;
}

#menu1LargeSize:hover + #menu2LargeSize,
#menu2LargeSize:hover + #menu3LargeSize,
#menu3LargeSize:hover + #menu4LargeSize,
#menu4LargeSize:hover + #menu5LargeSize,
#menu5LargeSize:hover + #menu6LargeSize {
    height: 100%;
    transition: all 0.5s;
}

#titreDivLargeSize {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#conteneurLargeSizeTitreDiv {
    display: flex;
    align-items:center;
    width: 100%;
    height: 100%;
    justify-content: center;
    color: rgb(77, 77, 77);
}

#menu1Cache,
#menu2Cache,
#menu3Cache,
#menu4Cache,
#menu5Cache,
#menu6Cache {
    display: none;
    position: absolute;
    width: 100%;
    right: -100%;
    height: 75%;
    margin: 0px;
    padding: 0px;
}

#menu1Cache #titleHideMenus,
#menu2Cache #titleHideMenus,
#menu3Cache #titleHideMenus,
#menu4Cache #titleHideMenus,
#menu5Cache #titleHideMenus,
#menu6Cache #titleHideMenus {
    margin-left: 2%;
    margin-top: 1%;
}

#titleHideMenus {
    font-size:1.5em;
    color: rgb(45, 45, 45);
    text-decoration: underline;
}

#menu1LargeSize:hover #menu1Cache,
#menu2LargeSize:hover #menu2Cache,
#menu3LargeSize:hover #menu3Cache,
#menu4LargeSize:hover #menu4Cache,
#menu5LargeSize:hover #menu5Cache,
#menu6LargeSize:hover #menu6Cache {
    display: block;
    padding: 0px;
    margin: 0px;
    height: 76%;
    right: 0.1%;
    width: 100%;
    bottom: 14%;
    color: rgb(104, 104, 104);
    background-color: white;
}

#contenuMenuCache {
    display:flex;
}

#paragrapheMenuCache {
    display: flex;
    flex-direction: column;
}

#imgPong,
#imgLowatem,
#imgVirtualMachine,
#imgSiteWeb {
    padding-top: 1%;
    padding-left: 2%;
    height: 55vh;
    width: 85vh;
}

#imgBDD {
    padding-top: 1%;
    padding-left: 2%;
    height: 55vh;
    width: 85vh;
}

#imgCreationEntreprise {
    padding-top: 1%;
    padding-left: 2%;
    height: 55vh;
    width: 85vh;
}

#imgLogoInsta, #imgLogoFacebook {
    height: 30px;
    width: 30px;
}

#dow {
    display: flex;
    flex-direction: row;
}

#imgLogoPDF {
    width: 5vh;
    height: 6vh;
    border: 2px solid rgb(100, 100, 100)
}

#dow {
    display: flex;
    flex-direction: row;
    margin-left: 75%;
}

#paragrapheMenuCache h2 {
    margin-left: 3vh;
}

#menu1Cache #imgLogoPDF {
    margin-bottom: 50%;
}

#paragrapheMenuCache p {
    padding-top: 1em;
    padding-right: 2em;
}

#basDePage {
    width: 100%;
    height: 8%;
    background-color: rgb(57, 54, 54);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#basDePage p {
    color: white;
}

#textBasDePage {
    font-size: 14px;
}

@media only screen and (max-width:850px) {

    #divSuprem {
        height: 195vh;
        width: 100%;
    }

    #menuDivLargeSize {
        display: none;
    }

    .traitV{
        display: none;
    }

    #menuDivMinSize {
        display: flex;
        height: 50vh;
        width: 100%;
        background-color: rgb(228, 228, 228);
    }

    #entetePart1 {
        width: 50%;
        font-size: 25px;
    }

    #divButton1, #divButton2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    #entetePart2 {
        width: 50%;
        border: none;
        font-size: 1%;
    }

    #contactButton, #RetExpButton {
        border-left: none;
        border: 2px solid red;
    }

    #contactButton:hover, #RetExpButton:hover {
        border-left: none;
    }

    #entetePart2 h2 {
        padding-left: 0%;
        border: none;
        font-size: 30px;
    }

    #entete {
        height: 10vh;
        width: 100%;
    }

    #presentation {
        flex-direction: column;
        height: 130vh;
        width: 100%;
        text-align: center;
    }

    #sousPresentation1 {
        border-left: none;
        height: 40%;
        width: 100%;
    }

    #sousPresentation2 {
        border-right: none;
        height: 50%;
        width: 100%;
    }

    #sousMenuMinSizeResponsive {
        flex-direction: column;
        align-items: center;
        justify-self:center;
        height: 100%;
        width: 100%;
    }

    #basDePage {
        height: 10vh;
        width: 100%;
    }

    #menu1MinSize,
    #menu2MinSize,
    #menu3MinSize,
    #menu4MinSize,
    #menu5MinSize,
    #menu6MinSize {
        display: flex;
        align-items: center;
        justify-content:center;
        border: 3px solid rgb(112, 112, 112);
        border-radius: 50px;
        margin: 10%;
        width: 75%;
        height: 75px;
        text-align: center;
        background-color: white;
        transition: all 0.5s;
    }

    #menu1MinSize:hover #titreDivMinSize,
    #menu2MinSize:hover #titreDivMinSize,
    #menu3MinSize:hover #titreDivMinSize,
    #menu4MinSize:hover #titreDivMinSize,
    #menu5MinSize:hover #titreDivMinSize,
    #menu6MinSize:hover #titreDivMinSize {
        color: white;
        transition: all 0.5s;
    }

    #menu1MinSize:hover,
    #menu2MinSize:hover,
    #menu3MinSize:hover,
    #menu4MinSize:hover,
    #menu5MinSize:hover,
    #menu6MinSize:hover {
        background-color: rgb(112, 112, 112);
        color: rgb(203, 203, 203);
        transition: all 0.5s;
    }

    #menu1MinSize:hover p,
    #menu2MinSize:hover p,
    #menu3MinSize:hover p,
    #menu4MinSize:hover p,
    #menu5MinSize:hover p,
    #menu6MinSize:hover p {
        color: white;
        transition: all 0.5s;

    }

    li {
        padding-left: 0%;
        margin-left: 0%;
        padding-right: 2.5%;
        padding-bottom: 0em;
        font-size: 30px;
        list-style-type: none;
    }

    ul {
        padding-left: 0%;
        margin-left: 0%;
    }

    #menu1LargeSize:hover #menu1Cache,
    #menu2LargeSize:hover #menu2Cache,
    #menu3LargeSize:hover #menu3Cache,
    #menu4LargeSize:hover #menu4Cache,
    #menu5LargeSize:hover #menu5Cache,
    #menu6LargeSize:hover #menu6Cache {
        display: none;
    }

    #titreDivMinSize p {
        color: black;
        text-decoration: none;
        font-size: 1.2vh;
    }

    #sousPresentation1 p { 
        margin-bottom: 22vh;
        font-size: 80px;
    }

    #sousPresentation2 p {
        font-size: 30px;
    }

    #sousPresentation2 h2 { 
        font-size: 60px;
    }

    #textBandeauRetExp {
        font-size: 30px;
    }

    #textBasDePage {
        font-size: 30px;
    }

    #imgLogoInsta, #imgLogoFacebook {
        height: 70px;
        width: 70px;
        margin-bottom: 1.5em;
    }

    #bandeauRetExp {
        height: 5vh;
    }
}